<h1>Minamirb + axlsx : 秘密のカニング資料</h1>
<br>
<div class="row span12">
  <p class="span6">まあ、終わったらどうやってやるんやったっけ？と迷うこともあると思って、ここにライブプログラミングで実施する内容をまとめます。別の日本語が母国語ではないので、多少（かなり？！！？）間違いの多い、変な日本語許してね <small>-randym</small></p>
</div>
<br><br>
<div>
  <p>このrepoに必要なgemなどは既に含まれています。通常の場合は<pre>gem "acts_as_xlsx"</pre>または<pre>gem "axlsx_rails"</pre>をGemfileに追加するのはわかっていますよね。</p>
</div>
<br>
<div>
  <p>じゃ、はじめようか</p>
</div>
<div>
  <ul>
    <li>
    <h3>acts_as_xlsxの場合</h3>
    <dl>
    <dt>メリット</dt><dd>説明しやすい！すべてのコードがコントローラーに含まれているのでわかりやすい。</dd>
    <dt>デメリット</dt><dd>多くのRailsプログラマーはコントローラーをごちゃごちゃしたくないですね。</dd>
    <dt>プチアドバイス</dt><dd><p><small>まぁ、ActionController::RenderersやActionController::ResponderやActionView::Template::Handlersを聞くと「えっ？なにそれ？」と感じたらacts_as_xlsxを使いましょう。</small></p></dd>
  </dl>
    <div><h1>1</h1><span>モデルにacts_as_xlsxを追加する</span></div>
    <div style="background-color:#000000;color:#FFFFFF; margin:10px; padding:10px">
      <span style="color:#FF0000"># models/post.rb</span><br>
      <span style="color:#3D85C6">class</span> <span style="color:#E69138">Post</span> &lt; <span style="color:#E69138">ActiveRecord</span>::<span style="color:#E69138">Base</span>
      <p>&nbsp;&nbsp; acts_as_xlsx</p>
    </div>
    <br>
    <span class="label label-info">宿題 !!</span>
    <p>Commentのモデルに同じくacts_as_xlsxを追加したまえ！</p>
   
   
    <div><h1>2</h1><span>コントローラーにrespond_toを加入する</span></div>
 <div style="background-color: black; color: white; margin: 10px; padding: 10px;">
   <span style="color:red"># app/controllers/posts_controller.rb</span><br>
   <span style="color: #3d85c6;">def</span> <span style="color: #3d85c6;">index</span>
<br>
<br>
<div style="color: white; padding-left: 18px;">
<span style="color: white;">@posts = <span style="color: orange;">Post</span>.all</span><br>
<br>
<span style="color: white;">respond_to <span style="color: cyan;">do</span> | format |&nbsp; </span><br>
<span style="color: white;">&nbsp; format.html <span style="color: red;"># index.html.erb</span></span><br>
<span style="color: white;">&nbsp; format.json { render <span style="color: lime;">:json</span> =&gt; @posts }</span><br>
<span style="color: white;">&nbsp; format.xlsx {</span><br>
<span style="color: white;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; send_data Post.to_xlsx.to_stream.read, <span style="color: lime;">:filename</span> =&gt; <span style="color: yellow;">"posts.xlsx"</span>, <span style="color: lime;">:type </span>=&gt; <span style="color: yellow;">"application/vnd.openxmlformates-officedocument.spreadsheetml.sheet"</span></span><br>
<div style="color: cyan;">
<span style="color: white;">&nbsp;}<span style="color: cyan;">&nbsp;</span>&nbsp;</span> </div>
</div>
<div style="color: cyan;">
&nbsp; end</div>
<div style="color: cyan;">
end
</div>
</div> 
   <br>
    <span class="label label-info">宿題 !!</span>
    <p>この段階で既に自動生成されたPostのxlsxファイルはダウロードできます。どのURLかはわかりますか？それをアクセスしてみたまえ！</p>
   
   
   
    <div><h1>3</h1><span>DLリンクがないとわからない</span></div>
     <div style="background-color: black; color: white; margin: 10px; padding: 10px;">
       <span style="color:red"># app/views/posts/index.html.erb</span><br>
       <span style="color: cyan;">&lt;%=</span> link_to current_url(<span style="color:lime">format:</span> <span style="color:lime">:xlsx</span>), <span style="color:lime">class:</span> <span style="yellow">"btn"</span> <span style="color:cyan">do %&gt;</span><br>
    &nbsp;&nbsp;&lt;i class="icon icon-download"&gt; xlsx &lt;/i&gt;<br>
    <span style="color:cyan">&lt;% end %&gt;</span>
  </div>
  <h5>運が良ければ、以下のようなものがDLされます</h5>
  <%= image_tag 'step_3_axlsx.png', width: "1050" %>
  
  
  





<div><h1>4</h1><span>つまらないことを面白くする</span></div>
     <div style="background-color:#000000;color:#FFFFFF; margin:10px; padding:10px">
      <span style="color:#FF0000"># models/post.rb</span><br>
      <span style="color:#3D85C6">class</span> <span style="color:#E69138">Post</span> &lt; <span style="color:#E69138">ActiveRecord</span>::<span style="color:#E69138">Base</span>
      <p>&nbsp;&nbsp;acts_as_xlsx <font color="#00ff00">:columns</font> =&gt; [<font color="#00ff00">:name<font color="#ffffff">,</font> title</font>, <font color="#00ff00">:content</font>, 
      <font color="#00ff00">:created_at</font>, <font color="#ffff00">:'comments.size'</font>], <font color="#00FF00">:i18n</font> => <font color="#00FF00">:xlsx_reports</font> </p>
    </div>
    <br>
    <span class="label label-info">宿題 !!</span>
    <p>comments.sizeってなに？なぜそれは動くのか答えたまえ</p>

    <div><h1>5</h1><span>お客さんはフィールド名に関しては興味ないで。。。だからi18n</span></div>
  <pre>
ja:
  xlsx_reports:
    posts: 投稿内容
    post:
      name: 投稿者
      title: 件名
      content: ポスト内容
      comments:
        size: コメント数
</pre>
    <span class="label label-info">宿題 !!</span>
    <p>上記の4で:i18n => :xlsx_reportsに設定したが、それは何を指示しているかをわかった上、証拠を出したまえ<small>hint: bundle open acts_as_xlsx</small></p>

    <div><h1>6</h1><span>イケメンレポートの必殺技</span></div>
    <p>posts_contoller.rbを以下のようにいじりましょう</p>
    <pre>
     format.xlsx { send_data Post.xlsx_report,
                    filename: 'posts.xlsx',
                    type: "application/vnd.openxmlformates-officedocument.spreadsheetml.sheet" }
    </pre>
    <p>そして、Postのモデルにxlsx_reportを定義しましょう</p>
    <pre>
  def self.xlsx_report
    package = Post.to_xlsx
    chart_colors =  %w(88F700, 279CAC, B2A200, FD66A3, F20062, C8BA2B, 67E6F8, DFFDB9, FFE800, B6F0F8)
    header_style = { :bg_color => "00", :fg_color => "FF", :alignment => { :horizontal => :center }, :bold => true }
    header_xf = package.workbook.styles.add_style header_style
    package.workbook.worksheets.first.tap do |sheet|
      sheet.row_style 0, header_xf
      sheet.add_chart(Axlsx::Pie3DChart, :title => "コメント獲得") do |chart|
        chart.add_series :data => sheet.cols[3][(1..-1)], :labels => sheet.cols[0][(1..-1)], :colors => chart_colors
        chart.start_at 2, sheet.rows.size
        chart.end_at 3, sheet.rows.size + 20 
      end
    end
    package.to_stream.read
  end

    </pre>
    <p>また、運次第だが、以下のようなものが出ってきたらラッキー！</p>
    <%= image_tag 'final_acts_as_xlsx.png' %>
  </li>
  </ul>
</div>
<br><Br><Br>
<div>
  <ul>
    <li>
    <h3>axlsx_railsの場合</h3>
    <dl>
    <dt>メリット</dt><dd>カスタムレンダラーを使っているので、レポート作成するコードをビユーとしてあつかえる。</dd>
    <dt>デメリット</dt><dd>Railsの中級、上級者じゃない限りまるで魔法みたい。randymのこだわり：わからんコード使うんなよ！作るものをメインテナンスするのはあなただから</dd>
    <dt>プチアドバイス</dt><dd><p><small>アクセス数はそんなにないならば私はこのスタイルを好む。忙しいサイトならsend_dataより、バックグラウンドで生成し、別のウェブサーバから提供した方がいろいろ無難（だからわからんコードを使うなってば）</small></p></dd>
    <dl>
    </li>
  </ul>
</div>
