<h1>Minamirb + axlsx</h1>
<p>このウェブアプリを使ってminamirbでaxlsxをハッキングします。わずかな行数でECMA-376に準拠したファイルを提供できるようにします。</p>
<ol>
  <li>
  <h5>repoをフォークし、クローンしましょう</h5>
  <ol>
    <li>
    <a href="https://github.com/randym/minamirb">https://github.com/randym/minamirb/fork_select</a>
    </li>
    <li>
    <pre>$ git clone git@github.com:[your_account_name]/minamirb</pre>
    </li>
  </ol>
  </li>
  <li>
  <h5>基本セットアプしましょう</h5>
  <ol>
    <li>
    <pre>$ cd minamirb</pre>
    </li>
    <li>
<pre>$ bundle install</pre>
    </li>
    <li>
<pre>$ bundle exec rake db:setup</pre>
    </li>
    <li>
    <pre>bundle exec rake minamirb:random_data count=10</pre>
    </li>
   <li>
    <pre>rails server</pre>
    </li>

  </ol>
  </li>
  <li>
  <h5>後は会場で一緒にコーディングしましょう</h5>
  <h6>どうしても先にやってみたい方は<a style="color:#000" class="label btn-danger" href="/himitsu.html">超秘密カンニング資料</a>を参照ください</h6>
  </li>
</ol>
